body {
  background-color: #222;
  margin: 2em auto;
  width: 90%;
  text-align: center;
}

.item {
  background-color: transparent;
  height: 300px;
  width: 300px;
  transition: background-color 1s;
  margin: 0 auto;
}

.readout {
  color: #ddd;
  font-size: 2em;
  font-family: sans-serif;
  margin-top: 1em;
  b {
    color: #f90;
  }
}